@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>
    Vision:
</h3>
<p>
    DOMO ChildCare Center vision is to have a cheerful, safe and loving environment that ensure the finest quality care possible. DOMO ChildCare center is second home for your kids where their playfulness turns into creativity. DOMO is
    a fun place to be and children will look forward to come back every time. We capture precious moments as children have fun and share them with parents through social media sites on regular basis.
</p>
<h3>
    Philosophy:
</h3>
<p>
    At DOMO, we believe playing is an effective learning tool. It teaches important social and emotional skills.
</p>
<h3>
    Staff:
</h3>
<p>
    The staff at DOMO Child Care center are well trained. They are committed to the child's overall development and  to provide nurturing environment that promotes healthy growth.
</p>
