<!--<div class="background">
    <div class="transbox">-->
<div class='navbar navbar-inverse navbar-fixed-top'>
    <div class="container">
        <div class='nav navbar-header'>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#DomoNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="DomoNav">
            <ul class='nav navbar-nav'>
                <li class="fade in active"><a routerLink='home' routerLinkActive="active">Home</a></li>
                <li class="fade in active"><a routerLink='user' routerLinkActive="active">Users</a></li>
                <li class="fade in active"><a routerLink='schedule' routerLinkActive="active">Schedule</a></li>
                <li class="fade in active"><a routerLink='parenting' routerLinkActive="active">Parenting</a></li>
                <li class="fade in active"><a routerLink='policies' routerLinkActive="active">Policies</a></li>
                <li class="fade in active"><a routerLink='gallery' routerLinkActive="active">Gallery</a></li>
                <li class="fade in active"><a routerLink='programs' routerLinkActive="active">Programs</a></li>
                <li class="fade in active"><a routerLink='events' routerLinkActive="active">Events</a></li>
                <li class="fade in active"><a routerLink='about' routerLinkActive="active">About</a></li>
                <li class="fade in active"><a routerLink='contactUs' routerLinkActive="active">ContactUs</a></li>
            </ul>
            <div action="" class="navbar-form navbar-right " role="search">
                <div class="form-group form-inline">
                    <input class="form-control" type="text" placeholder="Search" />
                </div>
                <a class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </div>
        </div>
        <!--<div class="carousel-control" data-ride="carousel" id="carouselId">
            <ol class="carousel-indicators">
                <li class="active" data-target="carouselId" data-slide-to="0"></li>
                <li class="active" data-target="carouselId" data-slide-to="1"></li>
                <li class="active" data-target="carouselId" data-slide-to="2"></li>
                <li class="active" data-target="carouselId" data-slide-to="3"></li>
                <li class="active" data-target="carouselId" data-slide-to="4"></li>
                <li class="active" data-target="carouselId" data-slide-to="5"></li>
                <li class="active" data-target="carouselId" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item"><img src="../../Images/DOMO1.JPG" /></div>
                <div class="item"><img src="../../Images/DOMO2.JPG" /></div>
                <div class="item"><img src="../../Images/DOMO3.JPG" /></div>
                <div class="item"><img src="../../Images/DOMO4.JPG" /></div>
                <div class="item"><img src="../../Images/DOMO5.JPG" /></div>
                <div class="item"><img src="../../Images/DOMO6.JPG" /></div>
                <div class="item"><img src="../../Images/DOMO7.JPG" /></div>
            </div>
        </div>-->
    </div>
</div>
<div class='container'>
    <router-outlet>
    </router-outlet>
</div>
<!--</div>
</div>-->
