<div class="jumbotron" style="background-color:#5bc0de;">
    <h1>DOMO Child Care</h1>
    'My First Angular App - Demo'
    <p class="lead">DOMO  Daddy out Mummy out, come join us and go to work guilt free.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Exclusive Child safe infrastructure</h2>
        <p>
            DOMO ChildCare center is bright, inviting indoor play space specially designed to provide a safe, hygienic and nurturing environment.
            We understand needs of growing children and engage in creative and informative activities.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            Babies are God's gift no doubt. But taking care of this precious gift isn't a day's work. DOMO ChildCare offers an array of services, that help you take care of your precious ones.
            Services that are made available keeping in mind your loved one's health & happiness in mind, because we believe in making parenting better.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>